<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>To do list</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>

        <div id="app">
            <div class="container">
                <ul>
                    <li v-for="(element, index) in toDoList" >
                        <span :class="element.done == true ? 'line-trough' : ''">{{element.text}}</span>
                        <i class="fa-solid fa-xmark" @click="removeToDo(index)"></i>
                    </li>
                </ul>
                <div class="text-center">
                    <input type="text" placeholder="Aggiungi cose da fare" v-model="newToDo" @keyup.enter="addToDo">
                    <button @click="addToDo">Aggiungi</button>
                </div>
                
            </div>
        </div>

        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </body>
</html>